In [ ]:
import dapla as dp
import pandas as pd

In [ ]:
# Create pandas dataframe
data = {
    'apples': [3, 2, 0, 1], 
    'oranges': [0, 3, 7, 2]
}
purchases = pd.DataFrame(data, index=['June', 'Robert', 'Lily', 'David'])
purchases

In [ ]:
# Write pandas dataframe to parquet
dp.write_pandas(purchases, '/felles/python/purchases', valuation='INTERNAL', state= 'INPUT')

In [ ]:
# List path by prefix
dp.show('/felles/python')

In [ ]:
# Show file details
dp.details('/felles/python/purchases')

In [ ]:
# Read path into pandas dataframe 
dp.read_pandas('/felles/python/purchases')

In [7]:
# Create pandas dataframe
data = {
    'apples': [3, 2, 0, 1], 
    'oranges': [0, 3, 7, 2]
}
purchases = pd.DataFrame(data, index=['June', 'Robert', 'Lily', 'David'])
purchases

        apples  oranges
June         3        0
Robert       2        3
Lily         0        7
David        1        2

In [22]:
# Write pandas dataframe to parquet
write_pandas(purchases, '/felles/python/purchases', valuation='INTERNAL', state= 'INPUT')

In [25]:
# List path by prefix
dp.show('/felles/python')

                       path      timestamp
0  /felles/python/purchases  1593120298095

In [21]:
# Show file details
dp.details('/felles/python/purchases')

   Size                           Name
0   182             .dataset-meta.json
1   256        .dataset-meta.json.sign
2  2908  44351bb03cf7cf33f8063.parquet

In [19]:
# Read path into pandas dataframe 
dp.read_pandas('/felles/python/purchases')

        apples  oranges
June         3        0
Robert       2        3
Lily         0        7
David        1        2